# 7. 데이터 선택(loc)
이름을 이용해서 원하는 row 에서 원하는 col선택

In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

In [ ]:
df.loc['1번'] # 인덱스 1번에 해당하는 row 기준의 전체 데이터 가져옴

이름      채치수
학교      북산고
키       197
포지션      PF
득점       70
리바운드     11
어시스트     10
스틸        2
블록        1
Name: 1번, dtype: object

In [ ]:
df.loc['5번'] #index 5번에 해당하는 row의 전체 대이터

이름      강백호
학교      북산고
키       188
포지션      SF
득점       49
리바운드      0
어시스트     17
스틸       12
블록        4
Name: 5번, dtype: object

In [5]:
df.loc['1번', '득점'] #index 1번에 해당하는 득점 데이터 가져옴

np.int64(70)

In [6]:
df.loc[['1번','2번'], '리바운드'] #index 1번, 2번에 해당하는 리바운드 데이터 가져옴

지원번호
1번    11
2번    10
Name: 리바운드, dtype: int64

In [10]:
df.loc[['1번', '2번'], ['리바운드','스틸']]  # index 1번, 2번에 해당하는 리바운드 / 스틸 데이터 가져옴

      리바운드  스틸
지원번호
1번      11   2
2번      10   9

In [ ]:
df.loc['1번':'5번', '리바운드':'블록'] # index 1번 부터 5번까지, 리바운드 ~ 블록까지 데이터 가져옴

      리바운드  어시스트  스틸  블록
지원번호
1번      11    10   2   1
2번      10     7   9  13
3번       5     7   4   4
4번       9     6   3   1
5번       0    17  12   4