# 8. 데이터 선택(iloc)
위치를 이용하여 원하는 row에서 원하는 col선택

In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

In [ ]:
df.iloc[0] # 0번째 위치의 해당하는 row 기준의 전체 데이터 가져옴

이름      채치수
학교      북산고
키       197
포지션      PF
득점       70
리바운드     11
어시스트     10
스틸        2
블록        1
Name: 1번, dtype: object

In [3]:
df.iloc[4] #4번째 위치의 해당하는 row 기준의 전체 데이터

이름      강백호
학교      북산고
키       188
포지션      SF
득점       49
리바운드      0
어시스트     17
스틸       12
블록        4
Name: 5번, dtype: object

In [4]:
df.iloc[0:5] # 0~4번째 위치의 데이터 가져옴

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4

In [7]:
df.iloc[0, 1] # 0번째 위치의 1번째(학교) 데이터

'북산고'

In [8]:
df.iloc[4, 2] # 4번째 위치의 2번째(키) 데이터

np.int64(188)

In [ ]:
df.iloc[[0, 1], 2] # 0, 1번째 위치의 학생의 2번째(키) 데이터

지원번호
1번    197
2번    184
Name: 키, dtype: int64

In [10]:
df.iloc[[0, 1], [3, 4]] #0, 1번째 위치의 학생의 3, 4번째 데이터

     포지션  득점
지원번호
1번    PF  70
2번     C  45

In [12]:
df.iloc[0:5, 3:8] #0~4번째 위치의 학생 중, 3~7번째 데이터 가져옴

     포지션   득점  리바운드  어시스트  스틸
지원번호
1번    PF   70    11    10   2
2번     C   45    10     7   9
3번    PG   37     5     7   4
4번    SG  101     9     6   3
5번    SF   49     0    17  12