# 10. DataFrame 활용

In [9]:
import pandas as pd

In [10]:
import matplotlib.pyplot as plt
import matplotlib
#matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
matplotlib.rcParams['font.family'] = 'AppleGothic' # macOS
matplotlib.rcParams['font.size'] = 15 # 글자 크기 변경
matplotlib.rcParams['axes.unicode_minus'] = False # 한글 폰트 사용 시, 마이너스 글자 깨지는 현상 해결

In [12]:
df = pd.read_excel('../Pandas/score.xlsx')
df

  지원번호   이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
0   1번  채치수  북산고  197  PF   70    11    10   2   1
1   2번  정대만  북산고  184   C   45    10     7   9  13
2   3번  송태섭  북산고  168  PG   37     5     7   4   4
3   4번  서태웅  북산고  187  SG  101     9     6   3   1
4   5번  강백호  북산고  188  SF   49     0    17  12   4
5   6번  변덕규  능남고  202  PF   72    19     8   1  19
6   7번  황태산  능남고  188   C   68    26    14   2  15
7   8번  윤대협  능남고  190  PG   12     5    10   2   3

In [ ]:
plt.plot(df['지원번호'], df['키']) #지원 번호 별로 키 그래프

In [ ]:
plt.plot(df['지원번호'], df['득점']) #먼저 사용한게 파란색 지원 번호 별로 득점 그래프
plt.plot(df['지원번호'], df['리바운드'])

In [ ]:
plt.plot(df['지원번호'], df['득점'])
plt.plot(df['지원번호'], df['리바운드'])

plt.grid() #격자 생성 상대적으로 보기 쉽다

In [ ]:
plt.plot(df['지원번호'], df['득점'])
plt.plot(df['지원번호'], df['리바운드'])

plt.grid(axis='y', color = 'red', alpha = 0.2, linestyle = '--', linewidth=2) # 격자 변경가능