# 5. 데이터 확인

In [ ]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

## DataFrame확인
계산 가능한 데이터에 대해 Column 별로 데이터의 갯수, 평균, 표준편차, 최소/최대값 등의 정보를 보여줌

In [ ]:
df.describe()

                키          득점       리바운드       어시스트         스틸         블록
count    8.000000    8.000000   8.000000   8.000000   8.000000   8.000000
mean   188.000000   56.750000  10.625000   9.875000   4.375000   7.500000
std      9.985704   26.948363   8.331309   3.833592   3.961872   7.050836
min    168.000000   12.000000   0.000000   6.000000   1.000000   1.000000
25%    186.250000   43.000000   5.000000   7.000000   2.000000   2.500000
50%    188.000000   58.500000   9.500000   9.000000   2.500000   4.000000
75%    191.750000   70.500000  13.000000  11.000000   5.250000  13.500000
max    202.000000  101.000000  26.000000  17.000000  12.000000  19.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   포지션     8 non-null      object
 4   득점      8 non-null      int64
 5   리바운드    8 non-null      int64
 6   어시스트    8 non-null      int64
 7   스틸      8 non-null      int64
 8   블록      8 non-null      int64
dtypes: int64(6), object(3)
memory usage: 940.0+ bytes

In [ ]:
df.head() # 처음 5개의 row를 가져옴

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4

In [ ]:
df.head(7) #7개의 row를 가져옴

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15

In [ ]:
df.tail() # 마지막 5개의 row를 가져옴

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

In [ ]:
df.tail(3) #마지막 3개 row를 가져옴

       이름   학교    키 포지션  득점  리바운드  어시스트  스틸  블록
지원번호
6번    변덕규  능남고  202  PF  72    19     8   1  19
7번    황태산  능남고  188   C  68    26    14   2  15
8번    윤대협  능남고  190  PG  12     5    10   2   3

In [ ]:
df.values

array([['채치수', '북산고', 197, 'PF', 70, 11, 10, 2, 1],
       ['정대만', '북산고', 184, 'C', 45, 10, 7, 9, 13],
       ['송태섭', '북산고', 168, 'PG', 37, 5, 7, 4, 4],
       ['서태웅', '북산고', 187, 'SG', 101, 9, 6, 3, 1],
       ['강백호', '북산고', 188, 'SF', 49, 0, 17, 12, 4],
       ['변덕규', '능남고', 202, 'PF', 72, 19, 8, 1, 19],
       ['황태산', '능남고', 188, 'C', 68, 26, 14, 2, 15],
       ['윤대협', '능남고', 190, 'PG', 12, 5, 10, 2, 3]], dtype=object)

In [ ]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [ ]:
df.columns

Index(['이름', '학교', '키', '포지션', '득점', '리바운드', '어시스트', '스틸', '블록'], dtype='object')

In [ ]:
df.shape # row, colum의 갯수

(8, 9)

In [ ]:
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

## Series 확인

In [ ]:
df['키'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: 키, dtype: float64

In [ ]:
df['키'].min()

np.int64(168)

In [ ]:
df['키'].nlargest(3) # 키큰 사람 순서대로 3명 가지고옴

지원번호
6번    202
1번    197
8번    190
Name: 키, dtype: int64

In [ ]:
df['키'].mean()

np.float64(188.0)

In [ ]:
df['키'].sum()

np.int64(1504)

In [ ]:
df['리바운드'].count()

np.int64(8)

In [ ]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)

In [ ]:
df['학교'].nunique()

2