# 6. 데이터 선택 (기본)

In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

## Column 선택 (label)

In [2]:
df['이름']

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [4]:
df['키']

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: int64

In [5]:
df[['이름', '키']]

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168
4번    서태웅  187
5번    강백호  188
6번    변덕규  202
7번    황태산  188
8번    윤대협  190

## Column 선택 (정수 index)

In [6]:
df.columns

Index(['이름', '학교', '키', '포지션', '득점', '리바운드', '어시스트', '스틸', '블록'], dtype='object')

In [7]:
df.columns[0]

'이름'

In [8]:
df.columns[2]

'키'

In [ ]:
df[df.columns[0]] # df['이름']과 동일한 동작 수행

지원번호
1번    채치수
2번    정대만
3번    송태섭
4번    서태웅
5번    강백호
6번    변덕규
7번    황태산
8번    윤대협
Name: 이름, dtype: object

In [10]:
df[df.columns[-1]] # 맨 끝에 있는 값을 가져옴

지원번호
1번     1
2번    13
3번     4
4번     1
5번     4
6번    19
7번    15
8번     3
Name: 블록, dtype: int64

## 슬라이싱

In [13]:
df['득점'][0:5] # 0 ~ 4 까지 득점 점수 데이터 가져옴

지원번호
1번     70
2번     45
3번     37
4번    101
5번     49
Name: 득점, dtype: int64

In [14]:
df[['이름','키']][:3] # 처음 3명의 이름, 키 정보를 가져옴

       이름    키
지원번호
1번    채치수  197
2번    정대만  184
3번    송태섭  168

In [15]:
df[3:]

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3