# 13. 함수 적용

In [7]:
import pandas as pd
df=pd.read_excel('score_with_missing_values.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
5번    강백호  북산고  188  SF   49     0    17  12   NaN
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
7번    황태산  능남고  188   C   68    26    14   2  15.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0

In [8]:
# df['키'] = df['키'] + 'cm' 정수형에 문자형을 더하여 에러 발생

## 데이터에 함수 적용(apply)

In [9]:
# 원본 데이터 다시 로드
df = pd.read_excel('score_with_missing_values.xlsx', index_col='지원번호')

# 함수 정의
def add_cm(height):
    return str(height) + 'cm'

# 한 번만 실행
df['키'] = df['키'].apply(add_cm)
df

       이름   학교      키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
1번    채치수  북산고  197cm  PF   70    11    10   2   1.0
2번    정대만  북산고  184cm   C   45    10     7   9  13.0
3번    송태섭  북산고  168cm  PG   37     5     7   4   4.0
4번    서태웅  북산고  187cm  SG  101     9     6   3   NaN
5번    강백호  북산고  188cm  SF   49     0    17  12   NaN
6번    변덕규  능남고  202cm  PF   72    19     8   1  19.0
7번    황태산  능남고  188cm   C   68    26    14   2  15.0
8번    윤대협  능남고  190cm  PG   12     5    10   2   3.0

In [10]:
def capitalize(lang):
    if pd.notnull(lang): # NaN이 아닌지 확인
        return lang.capitalize() #첫 글자는 대문자, 나머지는 소문자로
    return lang
df['포지션'] = df['포지션'].apply(capitalize)
df

       이름   학교      키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
1번    채치수  북산고  197cm  Pf   70    11    10   2   1.0
2번    정대만  북산고  184cm   C   45    10     7   9  13.0
3번    송태섭  북산고  168cm  Pg   37     5     7   4   4.0
4번    서태웅  북산고  187cm  Sg  101     9     6   3   NaN
5번    강백호  북산고  188cm  Sf   49     0    17  12   NaN
6번    변덕규  능남고  202cm  Pf   72    19     8   1  19.0
7번    황태산  능남고  188cm   C   68    26    14   2  15.0
8번    윤대협  능남고  190cm  Pg   12     5    10   2   3.0

In [11]:
df['포지션'].str.capitalize()

지원번호
1번    Pf
2번     C
3번    Pg
4번    Sg
5번    Sf
6번    Pf
7번     C
8번    Pg
Name: 포지션, dtype: object